doctype html
html
  head
    title= title
    style.
      body {
        padding: 50px;
        font: 14px "Segoe UI", "Roboto", "Lucida Grande", "Arial", sans-serif;
      }
      a {
        color: #00B7FF;
      }
  body
    block content
      h1= message
      h2= error.status
      pre #{error.stack}
